<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>
<div class="clearfix">
    <img src="../images/oneplus.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="OnePlus" width="300" height="300">
    <p>
        A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
    <img src="../images/apple.jpeg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="OnePlus" width="300" height="300">
    <p>
        A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
    <img src="../images/samsung.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="OnePlus" width="300" height="300">
    <p>
        A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
</div>
</body>
</html>